[Unit]
Description=Weekly DVSwitch FCC first-name database update

[Timer]
OnCalendar=Mon *-*-* 00:00:00
Persistent=true
RandomizedDelaySec=96h
FixedRandomDelay=true
Unit=dvswitch-fcc-first-names-update.service

[Install]
WantedBy=timers.target
